* {
    background-color: rgb(57, 61, 57);
    color: aliceblue;
    text-align: left;
}
div{
    border: 10px double wheat;
    margin: 10px;
    padding: 10px;
}
h1{
    text-align: center;
    font-size: 40px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
h4{
    font-size: 24px;
}
ul{
    list-style: none;
}
ol{
    list-style: decimal;
}
